<!-- THREE GRID WITH CALLOUTS -->
<div class="grid-x grid-padding-x grid-padding-y three-grid">
    <div class="medium-4 cell image-hover-wrapper">
        <div class="image-hover-wrapper-banner">
            <div class="fixed-font-size">PHILOSOPHY</div>
        </div>
        <a href="about.html#philosophy"><img class="fullWidth" src="../assets/img/philosophyGrid.png" />
            <div class="image-hover-wrapper-reveal"></div>
        </a>
    </div>
    <div class="medium-4 cell image-hover-wrapper">
        <div class="image-hover-wrapper-banner">
            <div class="fixed-font-size">LOCATIONS</div>
        </div>
        <a href="about.html#locations"><img class="fullWidth" src="../assets/img/coffee.png" />
            <div class="image-hover-wrapper-reveal"></div>
        </a>
    </div>
    <div class="medium-4 cell image-hover-wrapper">
        <div class="image-hover-wrapper-banner">
            <div class="fixed-font-size">TEAM</div>
        </div>
        <a href="about.html#team"><img class="fullWidth" src="../assets/img/staffGrid.png" />
            <div class="image-hover-wrapper-reveal"></div>
        </a>
    </div>
</div>